<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutGap="20px">
      <span fxFlex="18%">
        <img src="../../assets/H-ITB_logo_Stencil.jpg" alt=""s class="img">
        <mat-card-subtitle style="font-size: 50%">
          <p>Emelőgép Szakszolgálat</p>
          <pre>
1119 Budapest
Kelenvölgyi határsor 5
Tel.:(06-1) 205-6208
Fax:(06-1) 205-6209
www.h-itb.hu
          </pre>
        </mat-card-subtitle>
      </span>
      <span fxFlex fxFlexAlign="start">
        TEHERFELVEVŐ ESZKÖZÖK FŐVIZSGÁLATI JEGYZŐKÖNYVE
        <mat-card-subtitle><p>az Emelőgép Biztonsági Szabályzatáról szóló 47/1999 (VIII.4) GM rendelet melléklete szerint</p></mat-card-subtitle>
        <span fxLayout="row" fxLayoutGap="150px">
        <mat-card >
          <mat-card-title style="font-size: 75%">
            Jegyzőkönyv sorszáma:
          </mat-card-title>
          <mat-card-subtitle>
            9903/2019
          </mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title style="font-size: 75%">
            Termékazonosító:
          </mat-card-title>
          <mat-card-subtitle>
            9903/2019
          </mat-card-subtitle>
        </mat-card>
        </span>
      </span>
    </mat-card-title>
  </mat-card-header>
<hr>
  <mat-card-content>
<!-- Üzemeltető adatai: -->



  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

