.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
mat-sidenav {
    width: 200px;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
.back button {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.btn {
    margin-right: 16px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
 .work {
     width: 80%;
     margin: 12px auto;
 }
