
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" align="start" [(opened)]="opened">
      <div>
        <span class="back">
          <button (click)="sidenav.toggle()"><mat-icon color="warn">undo</mat-icon></button>
        </span>
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list dense>
          <a mat-list-item href="#">
            <mat-icon matListIcon class="mat-18">today</mat-icon>
            IDŐSZAKOS VIZSGÁLATOK
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="">
            <mat-icon matListIcon class="mat-18">warning</mat-icon>
            KARBANTARTÁS</a>
            <mat-divider></mat-divider>
          <a mat-list-item href="">
            <mat-icon matListIcon class="mat-18">build</mat-icon>
            JAVÍTÁS</a>
            <mat-divider></mat-divider>
          <a mat-list-item href="">
            <mat-icon matListIcon class="mat-18">work</mat-icon>
            ÜZEMBEHELYEZÉS</a>
            <mat-divider></mat-divider>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Body -->
  <mat-toolbar color="warn" class="navbar">
    <div>
      <button mat-raised-button (click)="onClick()"><mat-icon>more_vert</mat-icon>ETAR</button>
    </div>
    <img src="../assets/H-ITB_logo_Stencil.jpg" alt="H-ITB" style="height: 50px">
    <div>
      <button class="btn" mat-raised-button [matMenuTriggerFor]="menu">LISTÁK</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Termék</button>
        <button mat-menu-item>Cég</button>
        <button mat-menu-item>Munka</button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="menu">BEVITEL</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Termék</button>
        <button mat-menu-item>Cég</button>
        <button mat-menu-item>Munka</button>
      </mat-menu>

    </div>
  </mat-toolbar>
<br>

  <div fxLayout="row" fxLayoutGap="" fxLayoutAlign="start center">
    <div fxFlex="22%">
      <label id="example-radio-group-label">Elektronikus Terméknyílvántartó és Azonosító Rendszer</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxFlex="50%" fxFlexAlign="start" style="text-align: center" class="mat-display-1">{{favoriteSeason}}</div>
  </div>
  <div class="work">
    <img src="../assets/image.png" alt="image">
  </div>


  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
